/* Your app styles here */
.ios .tabbar-labels .tab-link:not(.tab-link-active) .icon-ios-fill {
  display: none;
}
.ios .tabbar-labels .tab-link.tab-link-active .icon:not(.icon-ios-fill) {
  display: none;
}

.news-card .card-header {
    min-height: 23vh;
    padding: 8em 0 0;    
    background-size: cover;
    background-position: center;
}
.news-card .card-header span{
   color: #FFF;

    padding: 0.5em var(--f7-card-header-padding-horizontal);
    background:#0009;

}

.page-searchform{align-content: center;align-items: center;/*background:#73b6e1 url(../okazje-bg.jpg);background-size:cover;background-position: center;*/}
.page-searchform h1{transition: all 300ms ease-in-out;max-width:300px;max-height:250px;overflow:hidden;margin:0 auto 24px;text-align: center;font-size: 1.8em;color: #2296f3;font-weight: bold;}
.page-searchform.advanced h1{max-height:0;margin-bottom:0;}

/*.item-input{background:#FFF;margin:5px;border-radius:4px;overflow:hidden;}*/
/*.md .range-slider{height:36px;}*/

.md .page-list a .card-content p{color:#000;}
.md .page-list .card-content-padding{padding:8px;}
.md .card-header{background-size:cover}
/*.md .card-footer{padding:6px}*/
.md .block-title{margin:32px 16px 8px;}
.md .navbar .right:first-child{right:0;}

.page-list .card{width:calc(100% - 24px);display:block;/*border-radius:16px;*/margin: 12px 12px 2px;}
.card-header-image{height:22vh;background-position: center;padding:0!important;background-size:cover;}
.occ-deal-container .card-header-image{height:32vh;}
.card-header-image-caption{padding:40px 16px 8px;width: 100%;background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);color: #FFF;font-weight: bold;}

.card-header:after{background-color: #3a3a3a;}
.card-footer{background:#f8f8f8;}

.card-price b{color:#000;font-size:1.4em}
.card-footer .card-price{padding:0 10px}

.occ-deal-pic {height: 36vh;width: 100%;display: block;background-position: center;background-size:cover;}
.occ-deal-container .card-header .carrier-logo{height:30px;}
.occ-title{font-weight: bold;font-size: 16px;}
.occ-title .occ-iata{font-size:14px;color:#999;}

.smart-select .item-after{max-width: 100%;margin-left:0;}

.favorites{background: #0081c7;margin-top: 15px;color: #FFF!important;}